<po-page-default p-title="Lean Manufacturing" [p-actions]="actions">
  <po-container>
    <div class="row">
      <div class="po-font-text po-md-12">
        Aplicativo em desenvolvimento.
        <br>
        Por Matheus Sandrini Rossi.
      </div>
      <br><br>
      <div class="po-font-subtitle po-md-12">
        RoadMap
      </div>
      <div
        class="po-md-12"
        *ngFor="let item of projectStatus"
      >
      <po-divider
        p-label="{{ item.domain }}"
      >
      </po-divider>
      <br>
      <div class="row">
        <div 
          *ngFor="let subitem of item.subDomain"
          class="po-md-6"  
        >
          <po-progress
            p-info="{{ subitem.situation }}"
            p-info-icon="infoIcon"
            p-status="{{ subitem.status }}"
            p-text="{{ subitem.text }}"
            p-value="{{ subitem.value }}"
          >
          </po-progress>
        </div>
      </div>
      </div>
    </div>
  </po-container>
</po-page-default>