/* You can add global styles to this file, and also import other style files */

@import "../node_modules/c3/c3.min.css";

.no-margin {
  margin: 0 !important;
}

.po-progress {
  margin-bottom: 0.15em !important;
}

.po-divider {
  margin-bottom: 0.15em !important;
}

.po-divider-label {
  font-size: 0.75em !important;
}

.po-wrapper-menu-panel .po-page-header, .po-wrapper .po-page-header {
  padding-top: 0;
  padding-bottom: 0;
}

.po-wrapper-menu-panel .po-page .po-page-content, .po-wrapper .po-page .po-page-content {
  padding-top: 0.75em;
}

.po-container {
  padding: 0.5em;
}