/* You can add global styles to this file, and also import other style files */

@import "../node_modules/c3/c3.min.css";

.no-margin {
  margin: 0 !important;
}

.po-progress {
  margin-bottom: 0.15em !important;
}

.po-divider {
  margin-bottom: 0.15em !important;
}